.cart_component {
    padding: 0px 26px;
}

.cart_item,
.images_of_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1D1F22;
    margin: 80px 0 55px;
    text-transform: uppercase;
}

.product__brand {
    font-size: xx-large;
    font-weight: 270;
}

.product__name {
    font-weight: bold;
}

.grey-line {
    margin: 24px 0;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qty {
    padding: 3.8rem 0rem;
}

.price {
    font-weight: 500;
}

.activity_button {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.activity_button:hover {
    opacity: 0.3;
}

.item_image {
    height: 25vh;
    width: 20vh;
    object-fit: contain;
    padding: 0px 9px;
}