.cart_component {
    padding: 0px 26px;

}

.cart_item,
.images_of_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1D1F22;
    margin: 80px 0 55px;
    text-transform: uppercase;
}

.product__brand {
    font-size: xx-large;
    font-weight: 270;
}

.product__name {
    font-weight: bold;
}

.grey-line {
    margin: 24px 0;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity .qty {
    padding: 8.4vh 0vh;
}

.price {
    font-weight: 500;
}

.activity_button {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.activity_button:hover {
    opacity: 0.3;
}



.item_image {
    height: 25vh;
    width: 20vh;
    object-fit: contain;
    padding: 0px 9px;
    margin-left: 1rem;
}

.cart__result div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.cart__result p {
    padding-left: 10px;
    font-weight: 600;
}


.cart__result {

    padding: 16px 0px;

}

.cart_checkout {
    display: flex;
    justify-content: center;

    width: 20vw;
    text-align: center;
    padding: 16px 25px;
    margin-right: 15px;
    margin-bottom: 9px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background-color: #499c34;
}


.cart_checkout:hover {
    background-color: #76af68;
    color: #222;
}