.CategoryItem {
    margin-left: 20px;
    cursor: pointer;
    line-height: 19.2px;
    font-weight: 400 normal;
    font-size: 16px;
    font: 'Raleway';
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
}


.CategoryItem:hover {
    transform: scale(1.06);
    color: #5ECE7B;
    text-decoration: underline;

}