.currency__details {
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-content: space-between;

}

.symbol,
.label__ {
    padding: 5px;
    font-weight: 500;
}


.currency__details:hover {
    color: rgb(158, 61, 61);
}