:root {
    --hover-color: #5ECE7B;
    --headerItem-font: 16px Raleway;
    --dropdown-click: rgb(173, 65, 65);
}

.header {
    padding: 20px 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #5ECE7B; */

}


.headerItems,
.endItems {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headerItems>ch:hover {
    color: var(--hover-color);
}

.headerItem {
    margin-left: 20px;
    cursor: pointer;
    line-height: 19.2px;
    font-weight: 400 normal;
    font-size: 16px;
    font: 'Raleway';
    transition: all 300ms ease-in-out;
    text-transform: uppercase;

}




.link {
    transition: all 300ms ease-in-out;

}

.link:hover {
    transform: scale(1.06);
    color: var(--hover-color);
    text-decoration: underline;


}

.link:active,
.link::after,
.link:focus {
    color: var(--hover-color);
    text-decoration: underline;
}


.dropdown {
    display: flex;
    align-items: center;

    position: relative;
    cursor: pointer;
}

.dropdown>img {
    padding-left: 2px;

}


/* .dropdown:hover {} */


.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1.2rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    z-index: -1;
    transition: opaciity 150ms ease-in-out;
    background-color: white;
}

/* 
.dropdown:focus>.link:focus+.dropdown-menu {
    opacity: 1;
} */

.active-menu {
    opacity: 1;
    z-index: 1;
}

.currency {
    padding-top: 7px;
    color: none;
    cursor: pointer;
}

.currency:hover {
    color: var(--dropdown-click)
}