:root {
    --hover-color: #5ECE7B;
    --headerItem-font: 16px Raleway:
}

.header {
    padding: 20px 33px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.endItems {
    justify-content: end;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.headerItem {
    margin-left: 20px;
    cursor: pointer;
    line-height: 19.2px;
    font-weight: 400 normal;
    font-size: 16px;
    font: 'Raleway';
    transition: all 300ms ease-in-out;

}

.headerItem:hover {
    color: var(--hover-color);
    transform: scale(1.06);


}

.headerItem:active,
.headerItem::after,
.headerItem:focus {
    color: var(--hover-color);
    text-decoration: underline;
}


.dropdown {
    display: flex;
    align-items: center;

    position: relative;
    cursor: pointer;
}

.dropdown>img {
    padding-left: 2px;

}


/* .dropdown:hover {} */


.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .35rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 1;
    transition: opaciity 150ms ease-in-out;
}

/* 
.dropdown:focus>.link:focus+.dropdown-menu {
    opacity: 1;
} */