.layout {
    margin: 30px;
    padding: 3px 0;
}


.category__title {


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    text-transform: capitalize;
}

.products {
    display: flex;
    flex-wrap: wrap;
    /* align-items: left !important; */
    /* margin: auto; */

}

/* .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmas(100px, 1fr));

} */