.ItemCard {
    margin: 20px 30px;

    /* padding: 30px; */
    margin: auto;
    text-align: start;
    /* cursor: pointer; */
    padding: 19px 8px;

}

.item_container {
    padding: 0px 20px;
}

.ItemCard:hover {
    transition: all 300ms ease-in-out;

    transform: scale(1.05);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.imgContainer {
    position: relative;
}

.stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0.5; */
}

.green-cart {
    display: none;
    position: absolute;
    right: 35px;
    bottom: 66px;
    cursor: pointer;

}


.item_container:hover>.green-cart {

    display: block;
}

.green-cart:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.08);

}

.item__image {
    height: 350px;
    width: 400px;
    /* display: block; */
    object-fit: contain;
    /* padding: 20px; */

}

.stockImg {
    opacity: 0.5;
    pointer-events: none !important;
    cursor: unset !important;
}

.disable {
    pointer-events: none !important;
    cursor: unset !important;

}

.details {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-; */
}

.item__name {
    font-size: 1.4rem;
    font-weight: 220;

}