.ItemCard {
    text-align: start;
    margin: 20px 70px;

}

.item__image {
    height: 350px;
    width: 100%;
    /* display: block; */
    object-fit: contain;
    /* padding: 20px; */

}

.details {
    text-align: start;
    font-size: 1.4rem;

}