.ItemCard {
    margin: 20px 30px;
    /* padding: 30px; */
    margin: auto;
    text-align: start;
    cursor: pointer;

}

.item__image {
    height: 350px;
    width: 400px;
    /* display: block; */
    object-fit: contain;
    /* padding: 20px; */

}

.details {
    text-align: start;
    font-size: 1.4rem;

}